/* reset */
*				{ margin:0; padding:0 }
ul, ol			{ list-style-type: none }
fieldset		{ border:none }
body { }

/*body*/
.body-dark{ background-color: rgb(81, 53, 51); font: 600 2.5em/1.38 Cabin; color: rgb(195, 97, 77);}
.body-light{ background-color: rgb(240, 217, 185); font: 700 1.063em/1.38 Cabin; color: rgb(0, 0, 0);}

/*header*/
.header {  float: left;  width: 100%;  height: 102px; }
#header-dark { background-color: rgb(71, 41, 39); }
#header-light { background-color: rgb(237, 185, 112);}

.sublogo {  display: block;  float: left;  width: 64px;  height: auto;  margin: 20px 0 0 10%;  overflow: hidden;}

.headerbutton {  display: block;  float: left;  width: 5.3888888888%;  height: 36px;  margin-top: 44px;  border: 2px solid rgb(195, 97, 77);  border-radius: 5px; font-size: 0.4em;  font-weight: 600; text-align: center; color: rgb(195, 97, 77); }
#signin-brown {  margin-left: 63.88802%; background-color: rgb(71, 41, 39); }
#signup-brown {  margin-left: 1.02257%;  background-color: rgb(71, 41, 39); }
#signin-beige {  margin-left: 63.88802%; background-color: rgb(237, 185, 112);  font-size: 0.941em;}
#signup-beige {  margin-left: 1.02257%;  background-color: rgb(237, 185, 112);  font-size: 0.941em;}


/*center-content*/
.center-content { float: left; clear: both;}
.container {  position: relative;  float: left;  z-index: 6;  width: 100%;  height: 428px;}
.container .center-content {  width: 99.8888888888%;  margin-left: -0.5555600001%;  border-radius: 3px;  background-color: rgb(81, 53, 51);  text-align: center;}

/*main page*/
#main-centercontent {  clear: both;  width: 100%;  height: 428px;  margin-top: 192px;}
#catchphrase {  height: 40px;  margin-top: 24px;  font-size: 1em;  color: rgb(255, 255, 255);}
#shortdesc {  clear: both;  height: 32px;  margin-top: 13px;  font-size: 0.5em;  font-weight: 400;  color: rgb(195, 97, 77);}
#mainlogo-beige {  display: block;  position: relative;  clear: both;  z-index: 7;  width: 30%;  height: auto;  margin: -301px 0 0 37.4%;  overflow: hidden;}

/*sign up*/
#signup-form-div { width: 28.6814236111%;    height: 445px;    margin: 131px 0 0 35.49653%;}
.text-signup {    float: left;    width: 100%;    height: 45px;    border-radius: 3px;    background-color: rgb(240, 217, 185);    font-size: 1.765em;    color: rgb(80, 53, 52);}

/*sign up table*/
#signup-form {    float: left;    clear: both;    width: 100%;    height: 225px;    margin-top: 33px;}
table { }
td { text-align: left; weight: 35px; padding: 5px 5px; font-size: 1em; color: black; }
td .tableinput{ border-radius: 8px; height: 34px; width: 18em; margin-left: 20px; font-size: 0.765em; font-weight:400; color: black;}


#check-agreement { width: 60.7124481704%;    height: 22px;    margin: 41px 0 0 19.83899%;}
.checkbox { display: block;  float: left;   margin: 5px 0 0 7.0588235294%;}
.checkbox-label {    display: block;    float: left;   margin-top: 30px; width: 8.8888888888%;    height: 22px;}
.text-agreement {    float: left;    width: 85.3968253968%;    height: 22px;   margin-top: 30px; margin-left: 5.6797252227%;    border-radius: 3px;    background-color: rgb(240, 217, 185);    font-size: 1em;    font-weight: 400;    color: rgb(0, 0, 0);}
/*.submitbutton*/
#btn-signup {    display: block;    float: left;    clear: both;    width: 42.02051996%;    height: 39px;    margin: 40px 0 0 30.55598%;    border-radius: 8px;    background-color: rgb(238, 196, 136);    font-size: 0.941em;
    text-align: center;    color: rgb(81, 53, 51);}



